.button{
    border-radius: 4px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    //height: 38px;
    min-width: 38px;
    transition: box-shadow .2s;
    border: none;
    cursor: pointer;

    span{
        font-size: 14px;
        padding: 10px 20px;
        font-family: Lato;
        font-weight: 700;
        font-stretch: normal;
        font-style: normal;
        line-height: 14px;
        letter-spacing: normal;
        display: block;
        color: #fff;
    }

    &.btn-prim{
        background: #353535;
    }
    &.btn-ghost{
        span{
            color: #353535;
        }
    }
    &.btn-action{
        background: #4caf50;
    }
    &.disabled{
        background-color: #eaeaea;

        span{
            color: #aeadad;
        }
    }
}