# .gitignore

# Ignore node modules
frontend/node_modules/
hexaco-frontend/node_modules/

# Ignore Python virtual environment
backend/venv/

backend/config.py

backend/migrations/config.py

backend/hrgpt-381021-dc639aab9df3.json

backend/__pycache__

.env