.form-block {
  max-width: 70%;
}

.form {
  margin-top: 100px;
  margin-left: 50px;
  display: flex;
  position: static;
}

.form-row {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items:start; 
}

.form-row label {
  font-weight: 600;
}

label {
  font-weight: 600;
}

.div-block {
  width: 319px;
  object-fit: fill;
  margin-right: 50px;
}

.container {
  width: 208px;
  margin-top: 100px;
}

.submit-button {
  margin-top: 40px;
}

.w-form-formradioinput {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-width: 4px;
  border-color: #3898ec;
}

.radio-container {
  display: flex;
  align-items: center;
}

.radio-container label {
  margin-left: 20px; /* add some space between the label and the input */
  font-weight: 400;
  font-size: 14px;
}

.form-row input[type="text"], .form-row select {
  flex: 1 1;
  width: 70%;
  font-size: 13px;
}

h2 {
  text-align: left;
  margin-bottom: 20px;
}

