html,
body {
    height: 100vh;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    display:flex;
    flex-direction: column;
    justify-content: stretch;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Lato', Arial, sans-serif;
}

#wrapper {
    display: flex;
    align-items: stretch;
    flex: 1;
}
#content{
    background-color: $white;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    transition: margin-left 0.5s;
    height: 100vh;
    overflow-y: scroll;
}

input, textarea{
    width: 100%;
    font-family: Lato;
    color: #333;
    outline: none;
    padding: 0 12px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #e0e1e4;
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.content{
    &--block{
        padding: 30px;
    }
}

.section-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}
.section-header{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}